{% extends 'base.html' %}

{% block body %}
<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="../static/images/logobg.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top" style="margin-left:10px">
      </a>

      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          
          User
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ url_for('myth') }}">User Login</a></li>
          <li><a class="dropdown-item" href="{{ url_for('myth') }}">User Register</a></li>
        </ul>
        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Hospital
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ url_for('hosp_login') }}">Hospital Login</a></li>
          <li><a class="dropdown-item" href="{{ url_for('myth') }}">Hospital Register</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="form-border">
<form action="/hosp_login" method="POST" >
    <div class="form-group">
      <label for="ID">Enter ID</label>
      <input type="text" class="form-control" id="ID" aria-describedby="ID" placeholder="Enter ID">
    </div>
    <br>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  {% endblock %}